@{
    var gridName = "Chamber";
    var gridId = Html.Awe().GetContextPrefix() + gridName;
    var roleId = Guid.Parse(User.Claims.First(x => x.Type == "RoleId").Value);
}

@Html.InitCrudPopupsForGrid(gridName, "Chamber")
@Html.InitChoiseChamber(gridName, "Chamber")

<header style="margin-bottom:35px">
    <div class="container">
        <h2>Палаты</h2>
    </div>

    <div class="container" style="display:flex">
        <form>
            <button type="button" onclick="awe.open('@("create" + gridName)')" class="btn btn-secondary btn-main col-sm-4">
                Добавить
            </button>
        </form>
        @if (roleId == ConstansCS.Roles.Supervisor)
        {
            <form>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-actions dropdown-toggle col-sm-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Действия
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><button formmethod="get" asp-controller="Chamber" asp-action="Index">Import Excel</button></li>
                        <li><button formmethod="get" asp-controller="Chamber" asp-action="Index">Export Excel</button></li>
                    </ul>
                </div>
            </form>
        }
        <form>
            <button type="button" onclick="awe.open('@("choice" + gridName)')" class="btn btn-secondary btn-main col-sm-4">
                Подобрать палату
            </button>
        </form>
    </div>
</header>
<hr />

<div class="gui3">
    @(Html.Awe().Grid(gridName)
        .Mod(o => o.Main().ColumnsAutohide())
        .Url(Url.Action("GridGetItems", "Chamber"))
        .Reorderable()
        .Resizable()
        .Columns(
        new Column { Bind = "Id", Groupable = false, Hidden = true },
        new Column { Bind = "Number", Header = "Номер палаты" }.Mod(o => o.Nohide()),
        new Column { Bind = "Floor", Header = "Этаж" },
        new Column { Bind = "QuantitySeats", Header = "Количество мест" },
        new Column { Bind = "Patients", ClientFormat = ".(PatientNames)", Header = "Постояльцы" },
        new Column { Bind = "Owner.FullName", ClientFormat = ".(OwnerName)", Header = "Ответственный" },
        new Column { Bind = "CreatedOn", Header = "Дата создания" },
        new Column { Bind = "ModifiedOn", Header = "Дата изменения" },
        new Column { ClientFormat = Html.EditFormatForGrid(gridName), Width = 55 }.Mod(o => o.Nohide()),
        new Column { ClientFormat = Html.DeleteFormatForGrid(gridName), Width = 55 }.Mod(o => o.Nohide())))
</div>

